{% load static %}
<html>

  <head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
   <body>
    <nav class="bg-white shadow-lg">
      
          <div class="flex">
            <div>
              <a href="#" class="flex px-4 py-4">
              <!--<img class="h-8 w-8" src="{% static '' %}" alt=""> -->
              <span class="text-black-500 font-semibold text-lg">PremiereLead</span>
          
              </a>
              </div>
              <div style="float:right; display: flex; margin-left: 55%;">
   
                
              </div>
          </div>
       
    </nav>


    <div>
        <h1 class="p-10">You have already taken this exam. Kindly try again in 2 months time</h1>
    </div>
</body>

</html>